*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 70%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(desktop) {
    // width < 900?
    font-size: 85%;
  }

  @include respond(big-desktop) {
    font-size: 100%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.notification-section {
  padding-top: 8rem;
}

.spinner {
  margin: 8rem auto;
  text-align: center;

  svg {
    height: 8rem;
    width: 8rem;
    animation: rotate 2s infinite linear;
  }
}
